<style>
.node circle {     
  fill: #fff;    
  stroke: steelblue;    
  stroke-width: 1.5px; 
} 
.node {    
  font: 12px sans-serif; 
} 
.link {    
  fill: none;    
  stroke: #ccc;    
  stroke-width: 1.5px; 
}
</style>
<div id = "q1">
</div>
<script src="http://d3js.org/d3.v2.js" type="text/javascript"></script>
<script>

var radius = 250;
var root = {
  "name": "year",
  "children": [
    {
       "name": "1995-2000",
       "children": [
      {"name": "http://nsidc.org/data/docs/noaa/g02135_seaice_index/interpretation.html"},
      {"name": "https://nsidc.org/cryosphere/arctic-meteorology/credits.html"},
      {"name": "https://www.aoncadis.org/dataset/Ponds.html"},
      {"name": "https://www.aoncadis.org/project/biomass_burning_dust_sea_salt_volcanic_and_pollution_aerosols_in_the_arctic_during_the_last_2_millennia_high_resolution_aerosol_records_from_neem_and_an_aray_of_archived_ice_cores.html"},
      {"name": "https://www.aoncadis.org/dataset/ucar.ncar.eol.dataset.46_767.html"},
      {"name": "https://www.aoncadis.org/dataset/ucar.ncar.eol.dataset.106_ARCSS069.html"}
       ]
    },{
       "name": "2000-2005",
       "children": [
      {"name": "https://www.aoncadis.org/dataset/ucar.ncar.eol.dataset.106_ARCSS091.html"},
      {"name": "https://www.aoncadis.org/dataset/ucar.ncar.eol.dataset.106_ARCSS119.html"},
      {"name": "https://www.aoncadis.org/dataset/ucar.ncar.eol.dataset.46_767.html"},
      {"name": "https://nsidc.org/cryosphere/sotc/references.html"},
      {"name": "chttp://nsidc.org/data/docs/noaa/g02135_seaice_index/interpretation.html"},
      {"name": "http://nsidc.org/data/docs/noaa/g02135_seaice_index/interpretation.html"},
      {"name": "http://gcmd.gsfc.nasa.gov/KeywordSearch/Metadata.do?Portal=amd&KeywordPath=&OrigMetadataNode=GCMD&EntryId=FATE&MetadataView=Full&MetadataType=0&lbnode=mdlb5"},
      {"name": "http://gcmd.gsfc.nasa.gov/KeywordSearch/Metadata.do?Portal=amd&KeywordPath=&OrigMetadataNode=GCMD&EntryId=NOAA_NCDC_PALEO_2003-014&MetadataView=Full&MetadataType=0&lbnode=mdlb5"}
       ]
    },{
        "name": "2005-2015",
        "children": [
      {"name": "https://www.polardata.ca/pdcsearch/PDCSearch.jsp?doi_id=11786"},
      {"name": "https://www.aoncadis.org/project/the_svalbard_reu_holocene_and_modern_climate_change_in_the_high_arctic.html"},
      {"name": "https://www.aoncadis.org/project/searching_for_abrupt_climate_change_precursors_using_ultra_high_resolution_ice_core_analysis.html"},
      {"name": "https://nsidc.org/cryosphere/arctic-meteorology/climate_change.html"},
      {"name": "https://nsidc.org/news/newsroom/wilkins/"},
      {"name": "https://www.aoncadis.org/project/shorebirds.html"}
    ]
  }
  ]
}

var margin = 120;
var angle = 360;
var cluster = d3.layout.cluster() 
 .size([angle, radius-margin]); 
 
var diagonal = d3.svg.diagonal.radial() 
 .projection (function(d) { return [d.y, d.x / 180* Math.PI];}); 

var svg = d3.select("#q1").append("svg") 
 .attr("width",2*radius) 
 .attr("height",2*radius) 
 .append("g") 
 .attr("transform","translate("+radius + "," + radius + ")");
 
//d3.json("dendrogram02.json", function(error, root){ 
 var nodes = cluster.nodes(root); 
 var links = cluster.links(nodes); 
 var link = svg.selectAll(".link") 
 .data(links) 
 .enter().append("path") 
 .attr("class","link") 
 .attr("d", diagonal); 
 
 var node = svg.selectAll(".node") 
 .data(nodes) 
 .enter().append("g") 
 .attr("class","node")
 .attr("transform", function(d) { return "rotate(" + (d.x - 90) + ")translate(" + d.y + ")"; }); 
 
 node.append("circle") 
 .attr("r", 4.5); 
 
 node.append("text")
 .attr("dy", ".31em")
 .attr("text-anchor", function(d) { return d.x < 180 ? "start" : "end"; })
 .attr("transform", function(d) { return d.x < 180 ? "translate(8)" : "rotate(180)translate(-8)"; })
 .text(function(d) { return d.name; }); 
//});


</script>
